<a href="https://colab.research.google.com/github/kym0323/National_Petition_analysis/blob/main/03_02_%EC%96%B8%EC%96%B4%EB%B6%84%EC%84%9D%EC%B2%AD%EC%9B%90%EA%B2%8C%EC%8B%9C_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 환경 준비

In [ ]:
# konlpy 설치하기
!pip install konlpy

Collecting konlpy
  Downloading https://files.pythonhosted.org/packages/85/0e/f385566fec837c0b83f216b2da65db9997b35dd675e107752005b7d392b1/konlpy-0.5.2-py2.py3-none-any.whl (19.4MB)
     |████████████████████████████████| 19.4MB 1.3MB/s
Collecting JPype1>=0.7.0
  Downloading https://files.pythonhosted.org/packages/fd/96/1030895dea70855a2e1078e3fe0d6a63dcb7c212309e07dc9ee39d33af54/JPype1-1.1.2-cp36-cp36m-manylinux2010_x86_64.whl (450kB)
     |████████████████████████████████| 460kB 48.6MB/s
Requirement already satisfied: lxml>=4.1.0 in /usr/local/lib/python3.6/dist-packages (from konlpy) (4.2.6)
Collecting colorama
  Downloading https://files.pythonhosted.org/packages/44/98/5b86278fbbf250d239ae0ecb724f8572af1c91f4a11edf4d36a206189440/colorama-0.4.4-py2.py3-none-any.whl
Collecting tweepy>=3.7.0
  Downloading https://files.pythonhosted.org/packages/bb/7c/99d51f80f3b77b107ebae2634108717362c059a41384a1810d13e2429a81/tweepy-3.9.0-py2.py3-none-any.whl
Requirement already satisfied: numpy>=1.6 in /usr/local/lib/python3.6/dist-packages (from konlpy) (1.18.5)
Collecting beautifulsoup4==4.6.0
  Downloading https://files.pythonhosted.org/packages/9e/d4/10f46e5cfac773e22707237bfcd51bbffeaf0a576b0a847ec7ab15bd7ace/beautifulsoup4-4.6.0-py3-none-any.whl (86kB)
     |████████████████████████████████| 92kB 11.3MB/s
Requirement already satisfied: typing-extensions; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from JPype1>=0.7.0->konlpy) (3.7.4.3)
Requirement already satisfied: requests[socks]>=2.11.1 in /usr/local/lib/python3.6/dist-packages (from tweepy>=3.7.0->konlpy) (2.23.0)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from tweepy>=3.7.0->konlpy) (1.15.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from tweepy>=3.7.0->konlpy) (1.3.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (2020.11.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (1.24.3)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6; extra == "socks" in /usr/local/lib/python3.6/dist-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (1.7.1)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from requests-oauthlib>=0.7.0->tweepy>=3.7.0->konlpy) (3.1.0)
Installing collected packages: JPype1, colorama, tweepy, beautifulsoup4, konlpy
  Found existing installation: tweepy 3.6.0
    Uninstalling tweepy-3.6.0:
      Successfully uninstalled tweepy-3.6.0
  Found existing installation: beautifulsoup4 4.6.3
    Uninstalling beautifulsoup4-4.6.3:
      Successfully uninstalled beautifulsoup4-4.6.3
Successfully installed JPype1-1.1.2 beautifulsoup4-4.6.0 colorama-0.4.4 konlpy-0.5.2 tweepy-3.9.0

In [ ]:
# konlpy를 실행하기
import konlpy

In [ ]:
## pandas을 실행하기, 단 실행 별명을 pd로
import pandas as pd

# 데이터 불러오기

In [ ]:
# 구글 드라이브 연결을 위한 기본 세팅 
!pip install -U -q PyDrive
 
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
## 문서 ID로 실제 파일 불러오기



rawdata_downloaded = drive.CreateFile({'id': '1IQEc2ibk9fWat0uszpiEWuJlmlhY1Ydv'})
rawdata_downloaded.GetContentFile('rawdata.xlsx')

In [ ]:
# "rawdata.txt" 파일의 내용을 "원본데이터" 변수로 불러오기
원본데이터 = pd.read_excel('rawdata.xlsx')

In [ ]:
# "원본데이터" 변수 내용 확인하기
원본데이터

       number progress  ...       eday  proponent
0          28     청원종료  ... 2017-08-26      naver
1          34     청원종료  ... 2017-09-18      naver
2          43     청원종료  ... 2017-09-18      naver
3          46     청원종료  ... 2017-09-18      naver
4          50     청원종료  ... 2017-10-18      naver
...       ...      ...  ...        ...        ...
11892  589992     청원종료  ... 2020-07-23      kakao
11893  589995     청원종료  ... 2020-07-23      naver
11894  589997     청원종료  ... 2020-07-23      naver
11895  589999     청원종료  ... 2020-07-23      naver
11896  590000     청원종료  ... 2020-07-23      naver

[11897 rows x 9 columns]

In [ ]:
원본데이터 = 원본데이터.dropna(axis=0)

In [ ]:
원본데이터

       number progress  ...       eday  proponent
0          28     청원종료  ... 2017-08-26      naver
1          34     청원종료  ... 2017-09-18      naver
2          43     청원종료  ... 2017-09-18      naver
3          46     청원종료  ... 2017-09-18      naver
4          50     청원종료  ... 2017-10-18      naver
...       ...      ...  ...        ...        ...
11892  589992     청원종료  ... 2020-07-23      kakao
11893  589995     청원종료  ... 2020-07-23      naver
11894  589997     청원종료  ... 2020-07-23      naver
11895  589999     청원종료  ... 2020-07-23      naver
11896  590000     청원종료  ... 2020-07-23      naver

[11880 rows x 9 columns]

# 형태소 분석

In [ ]:
# konlpy(한국어형태소분석기) 중에서 Okt 실행하기
from konlpy.tag import Okt
okt = Okt()

In [ ]:
# "원본데이터"를 대상으로 "okt"를 사용해서 형태소 분석하기
저장공간  = []
for index, row in 원본데이터.iterrows(): # 원본데이터의 컬럼(열)을 불러와서 반복할 준비!
    대상텍스트 = row[4] # 분석에서 사용할 텍스트 정보가 있는 열을 지정해준다. 주의! python은 0부터 시작한다!
    분류 = row[5] # 분석에서 사용할 분류 정보가 있는 열을 지정해준다. 주의! python은 0부터 시작한다!
    형태소 = list(okt.pos(대상텍스트)) # okt의 pos 기능을 활용해서 대상 텍스트를 형태소 분리한다.
    형태소종합 = pd.DataFrame.from_records(형태소) # 형태소에 저장된 내용을 데이터프레임 형태로 해서 형태소종합으로 저장한다.
    형태소종합['type'] = 분류 # 형태소종합에 분류정보를 추가한다.
    형태소종합['count'] = 1   # 형태소종합에 카운트정보를 추가한다.   
    저장공간.append(형태소종합) # 형태소종합의 내용을 종합하여 저장한다.

In [ ]:
# "저장공간" 변수의 내용을 데이터프레임 형식으로 변환해서 "분석통합" 변수에 저장한다.
분석통합 = pd.concat(저장공간)

In [ ]:
# "분석통합" 변수의 저장 내용 확인
분석통합

           0            1   type  count
0         **  Punctuation  경제민주화      1
1         존경         Noun  경제민주화      1
2        하옵는         Verb  경제민주화      1
3        문재인         Noun  경제민주화      1
4        대통령         Noun  경제민주화      1
...      ...          ...    ...    ...
1145    \n\n      Foreign    일자리      1
1146      진심         Noun    일자리      1
1147      으로         Josa    일자리      1
1148  부탁드립니다    Adjective    일자리      1
1149       .  Punctuation    일자리      1

[6205067 rows x 4 columns]

In [ ]:
# "분석통합" 변수의 컬럼(열) 이름 변경
분석통합.columns = ["형태소", "품사", "분류", "카운트"]

In [ ]:
# "분석통합" 변수의 저장 내용 확인
분석통합

         형태소           품사     분류  카운트
0         **  Punctuation  경제민주화    1
1         존경         Noun  경제민주화    1
2        하옵는         Verb  경제민주화    1
3        문재인         Noun  경제민주화    1
4        대통령         Noun  경제민주화    1
...      ...          ...    ...  ...
1145    \n\n      Foreign    일자리    1
1146      진심         Noun    일자리    1
1147      으로         Josa    일자리    1
1148  부탁드립니다    Adjective    일자리    1
1149       .  Punctuation    일자리    1

[6205067 rows x 4 columns]

In [ ]:
# "분석통합" 변수의 내용을 형태소, 품사, 분류가 같은 것을 합치고, 카운트의 총합을 구해서 "그룹통합" 변수에 저장한다.
그룹통합 = 분석통합.groupby(['형태소', '품사', "분류"])['카운트'].sum()

In [ ]:
# "그룹통합" 변수의 저장 내용 확인
그룹통합

형태소   품사       분류
\t    Foreign  경제민주화          61
               교통/건축/국토       33
               기타              4
               문화/예술/체육/언론     4
               미래              8
                              ..
🤬😡    Foreign  정치개혁            1
🤬😡👿😠  Foreign  정치개혁            1
🤬🤬🤬   Foreign  외교/통일/국방        1
󰋎     Foreign  교통/건축/국토        1
󰋏     Foreign  교통/건축/국토        1
Name: 카운트, Length: 420877, dtype: int64

In [ ]:
# "그룹통합" 변수의 내용을 데이터프레임 형식으로 변환해서 "그룹통합" 변수에 저장한다.
그룹통합 = pd.DataFrame(그룹통합)

In [ ]:
# "그룹통합" 변수의 저장 내용 확인
그룹통합

                          카운트
형태소  품사      분류
\t   Foreign 경제민주화         61
             교통/건축/국토      33
             기타             4
             문화/예술/체육/언론    4
             미래             8
...                       ...
🤬😡   Foreign 정치개혁           1
🤬😡👿😠 Foreign 정치개혁           1
🤬🤬🤬  Foreign 외교/통일/국방       1
󰋎    Foreign 교통/건축/국토       1
󰋏    Foreign 교통/건축/국토       1

[420877 rows x 1 columns]

In [ ]:
# "그룹통합" 변수의 내용을 "형태소분석결과.csv" 파일로 저장한다.
# header는 컬럼(열) 정보의 포함 여부이다.
# encoding은 문자코드를 선택하는 것이다. python에서는 기본적으로 utf-8(유니코드)를 사용한다.

그룹통합.to_csv('형태소분석결과_si.csv', header='true', encoding='utf-8-sig')